@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        
    </style>
</head>
<body>
    <div class="text-center">
        <span class="hidden">
            @ViewBag.Greeting Hello World (from the view)
        </span>

        <h2>
            We're going to have an exciting party!
        </h2>
        <h3>And you are invited</h3>
        <div class="btn btn-lg btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </div>
    </div>
</body>
</html>
